
<body>
    <h1>Tax Connect</h1>

    <a href="/authorize">Connect with Stripe</a>


<!-- <form action="/charge" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_JhdZikWvITAMw8bAPVrdruaQ"
    data-amount="2000"
    data-name="Demo Site"
    data-description="1 widget ($10.00)"
    data-image="/128x128.pn	g">
  </script>
</form> -->

  </body>